<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2 class="aboutTitle">About Us</h2>
      <p class="aboutContent">
        <span class="aboutIndent"></span>Blogs are informal articles written for the purpose of showing thought
        purchase. 
        Good CTA’s include “Find out more”, “download”, discounts,
        free offers, options to subscribe to your mailing list, etc. You can
        also use the CTA button on a blog post to move the visitor along to
        another relevant blog topic on your website or even convert them to a
        relevant page on your website that explains your services. Blogs are
        Long-Term Once a blog is indexed in search engines it stays there,
        meaning your blog can still gain traffic and generate leads weeks,
        months and even years after. Don’t look for instant leads and hundreds
        of views, give your blog time to generate interest. Blog topics that are
        timeless will constantly generate more views month after month, so make
        sure to write about topics you know will be of interest to your target
        audience. Blogs Give Your Company a Voice Blogging allows you to share
        information about your business and its services but it also allows you
        to share opinions and thoughts on certain topics. Blogging is a great
        way to create a personality for your company and makes your business
        more credible approachable. So, don’t be afraid to share your interests
        on your blogs, comment on timely news topics or market trends or educate
        your readers on a particular topic. Always be sure you write blogs with
        your audience in mind. IMS Marketing work with clients on blog concepts
        and create content calendars for your website in order to keep your
        website active and to assist in driving traffic and generate valuable
        leads.
      </p>
    </div>
    <div></div>
    <div></div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
