<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>

        <%- include("../partials/header.ejs") %>
        <a href="/blogs" class="btn">Blogs</a>
        <div class="footer">
          <%- include("../partials/footer.ejs") %>
        </div>
   
  </body>
</html>
